<div class="jumbotron">
<div class="container">
<form class="form-contact" role="form">
        <h2 class="form-signin-heading">Contact me:</h2>
        <input type="text" name="name" class="form-control" ng-model="text" ng-required="" autofocus="">
        <input type="email" class="form-control" ng-model="email" placeholder="Email address" ng-required="" autofocus="">
        <textarea class="form-control" rows="3" ng-model="message" placeholder="Comments" ng-required=""></textarea>
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Send your Comments</button>
</form>
</div>
</div>